h1
{
  text-shadow: 5px 5px 5px #FF0000;
}
h2
{
  text-shadow: 5px 5px 5px #FF0000;
}
#grad1 {
  height: 100px;
  background: -webkit-linear-gradient(azure , blueviolet);
  background: -o-linear-gradient(azure ,blueviolet);
  background: -moz-linear-gradient(azure , blueviolet);
  background: linear-gradient(azure ,blueviolet);
}
.button {
  background-color: #FF0000;
  color: white;
  padding: 15px 32px;
}
body{
  background-color:#FFFFCC;
}
h1 {font-size:70px;}
h2 {font-size:30px;}
